a{
  text-decoration: none;
}
body {
  background-color: white;
  margin-left: 0;
  margin-top: 0 ;
  margin-right: 0;
}

hr{
  margin-top: 0;
  margin-bottom: 0;

}

.Regform{
  margin-top: 100px;
  margin-left: 250px ;
  margin-right: 250px ;
  margin-bottom: 250px;
  background-color: #f7f7f7 ;
}

.Header{
  background-color: #0e9aa7 ;
}

.NavigationBar{
  background-color: #f7f7f7 ;

}

.Category{
  text-decoration: none ;
  border: 0;
    line-height: 2.5;
    padding: 14px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #0fabbc;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.Category:hover {
  background-color: #00bcd4 ;
}
.CatLinkSize{
  font-size: x-Large;
}

.Register{
  border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #4CAF50;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.Register:hover {
    background-color: #a2de96   ;
}
.Footer{
  background-color: #dddddd ;
 height: 150px ;
}
